<section id="warehouses">
<h2>Galpões</h2>

<div>
  <%= link_to 'Cadastrar Galpão', new_warehouse_path %>
</div>

<% if @warehouses.any? %>
  <% @warehouses.each do |w| %>

    <div>
      <h3><%= link_to w.name, warehouse_path(w.id) %></h3>
      <dl>
        <dd>Código: <%= w.code %></dd>
        <dd>Cidade: <%= w.city %></dd>
        <dd><%= w.area %> m²</dd>
      </dl>
    </div>
  <% end %>
<% else %>
  <p>Não existem galpões cadastrados</p>
<% end %>
</section>
