<h1>Pedido <%= @order.id %></h1>
<h2>Entrega prevista para <%= I18n.localize(@order.estimated_delivery_date, format: :long) %></h2>
<p><strong>Galpão destino:</strong> <%= @order.warehouse.name %> </p>
<p><strong>Fornecedor: </strong> <%= @order.supplier.corporate_name %> </p>
<p><strong>Usuário responsável: </strong> <%= @order.user.name %> | &lt;<%= @order.user.email %>&gt;</p>