<h1>Galpão <%= @warehouse.code %></h1>
<h2><%= @warehouse.description %></h2>

<p>Nome: <%= @warehouse.name %></p>
<p>Cidade: <%= @warehouse.city %></p>
<p>Área: <%= @warehouse.area %> m²</p>
<p>Endereço: <%= @warehouse.address %> CEP: <%= @warehouse.cep %></p>

<div>
  <%= link_to 'Editar', edit_warehouse_path(@warehouse.id) %>
  <%= button_to 'Remover', warehouse_path(@warehouse.id), method: :delete  %>
</div>
<%= link_to 'Voltar', root_path %>